* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  padding: 30px;
}

#logo {
  cursor: pointer;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#back {
  font-size: 50px;
  position: absolute;
  transform: translateY(20px);
  -webkit-transform: translateY(20px);
  -moz-transform: translateY(20px);
  -ms-transform: translateY(20px);
  -o-transform: translateY(20px);
  cursor: pointer;
}

.picProfile {
  width: 255px;
  height: 255px;
  border: 10px solid #fff;
  border-radius: 500px;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  -ms-border-radius: 500px;
  -o-border-radius: 500px;
  box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.3);
}

.picProfile img {
  width: 100%;
  border-radius: 500px;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  -ms-border-radius: 500px;
  -o-border-radius: 500px;
}

.profile h1 {
  font-size: 40px;
  font-weight: 700;
  background-color: #fff;
  padding: 0;
  margin-top: 50;
  cursor: default;
}

#h01,
#h02,
#h03,
#h04 {
  margin-bottom: 0px;
}

.contactClient {
  display: flex;
  width: 200px;
  font-size: 50px;
  justify-content: space-between;
}

.contactClient i {
  cursor: pointer;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.contactClient i:hover {
  opacity: 0.5;
}

#mail {
  color: #dd4b39;
}

#wp {
  color: #25d366;
}

h1 {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background-color: #f2f2f2;
  padding: 10px 20px;
  cursor: pointer;
  user-select: none;
}

.container {
  background-color: #f2f2f2;
  margin-top: 0px;
  padding: 20px;
}

.hidden {
  display: none;
}

.question {
  font-size: 16px;
  font-weight: 400;
  color: #000;
}

p {
  font-size: 26px;
  font-weight: 700;
  color: #a63c3c;
}
