* {
    font-family: 'Open Sans', 'Roboto', sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

header,
.container,
footer {
    margin: 0px 100px;
}

.wrapped-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100vh;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

body {
    background-image: url(../img/cover.png);
    background-color: #000000;
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-position: center center;
    background-size: cover;
}

header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100px;
    margin-top: 20px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: center;
}

header .logo {
    height: 100px;
}

header a {
    font-size: 32px;
    color: #FFFFFF;
    text-decoration: none;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.container h1 {
    font-family: 'Lato';
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 130px;
    margin: 0;
}

.container .slogan {
    font-weight: 300;
    color: #FFFFFF;
    width: 430px;
    font-size: 32px;
    text-align: center;
}

.roundBtn {
    font-size: 20px;
    font-weight: 300;
    padding: 6px 23px 10px 23px;
    border: none;
    border-radius: 100px;
    -webkit-box-shadow: 0px 3px 6px;
    box-shadow: 0px 3px 6px;
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.roundBtn:hover,
header a:hover,
footer a:hover {
    opacity: 0.8;
}

.btn01 {
    color: #402E31;
    background-color: #FFFFFF;
}

footer {
    color: #FFFFFF;
}

footer a {
    color: #FFFFFF;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}