* {
    font-family: 'Open Sans', 'Roboto', sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-image: url(../img/trianglify-lowres.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/* MODAL */

.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal .mailForm {
    width: 400px;
    height: 200px;
    margin: 10% auto 0px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-top: 8px solid #A63C3C;
    border-radius: 10px 10px 0px 0px;
    background-color: #FFFFFF;
    padding: 20px;
}

#mail {
    width: 300px;
}

#btn07 {
    width: 140px;
    background-color: #A63C3C;
    color: #FFFFFF;
}

.animate {
    -webkit-animation: animatezoom 0.5s;
    animation: animatezoom 0.5s
}

.logoutOptions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-top: 30px;
}

#btn09,
#btn10 {
    width: 100px;
    background-color: #A63C3C;
    color: #FFFFFF;
}

#btn10 {
    margin-left: 20px;
}

/* HEADER */

header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0px 100px;
    margin-top: 20px;
    width: 100%;
    height: 100px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: center;
    position: fixed;
    z-index: 2;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

header .logo {
    height: 100%;
    cursor: pointer;
}

/* QUIZ MENU */

.wrapped-content01 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.container {
    width: 25%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.container {
    background-color: #000000;
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-position: center;
    background-size: cover;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    z-index: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.titleCont {
    height: 117px;
    width: 245px;
    margin-bottom: 115px;
}

.titleCont h2 {
    margin: 0;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    color: #FFFFFF;
}

/* CONTAINER IMAGE AND POSITION */

.c01 {
    background-image: url(../img/car4.png);
}

.c02 {
    background-image: url(../img/car5.png);
    background-position: 10%;
}

.c03 {
    background-image: url(../img/car6.png);
    background-position: 35%;
}

.c04 {
    background-image: url(../img/car7.png);
}

/* CONTAINER CONTENT VIEW */

.ccontent01 {
    background-image: url(../img/car4.png);
    width: 37%;
    z-index: 1;
    position: fixed;
}

.ccontent02 {
    background-image: url(../img/car5.png);
    width: 37%;
    z-index: 1;
    position: fixed;
}

.ccontent03 {
    background-image: url(../img/car6.png);
    width: 37%;
    z-index: 1;
    position: fixed;
}

.ccontent04 {
    background-image: url(../img/car7.png);
    width: 37%;
    z-index: 1;
    position: fixed;
}

/* CONTAINER TRANSITION (WIDTH AND MARGIN) */

.c01:hover {
    z-index: 1;
    width: 29%;
}

.c02:hover {
    z-index: 1;
    width: 29%;
}

.c03:hover {
    z-index: 1;
    width: 29%;
}

.c04:hover {
    z-index: 1;
    width: 29%;
}

.show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.opacity {
    -webkit-animation-name: cOpacity;
    animation-name: cOpacity;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
}

.hidden {
    display: none;
}

.hidden01 {
    margin-left: -25%;
    z-index: 0;
}

.hidden02 {
    margin-left: -25%;
    z-index: 0;
}

.hidden03 {
    margin-left: -50%;
    z-index: 0;
}

.hidden04 {
    margin-left: -75%;
    z-index: 0;
}

.hideContent {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    opacity: 0;
}

.current {
    z-index: 1;
}

/* QUIZ CONTENT */

.c05 {
    width: 63%;
    margin: 0 0 0 37%;
    padding: 0px 100px 0px 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #FFFFFF;
}

.c05 .quizNav {
    width: 60%;
    height: 136px;
    margin-top: -16px;
    position: fixed;
    z-index: 2;
}

.c05 .quizNav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 100%;
    padding: 0px 0px 20px 66px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 3px solid #F2F2F2;
    list-style: none;
    font-size: 16px;
    font-weight: 200;
    background-color: #FFFFFF;
}

.c05 .quizNav ul li {
    width: 130px;
    cursor: pointer;
    z-index: 2;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.c05 .quizNav .bars {
    display: none;
}

/* SELECTED SUBMENU */

.selected-menu01 {
    color: #402E31;
    font-weight: 700;
}

.selected-menu02 {
    color: #A63C3C;
    font-weight: 700;
}

.selected-menu03 {
    color: #402E31;
    font-weight: 700;
}

.selected-menu04 {
    color: #A63C3C;
    font-weight: 700;
}

/* CHEVRON ARROW BUTTONS */

.controls {
    width: 51px;
    height: 51px;
    margin-top: 50px;
    background-color: #FFFFFF;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 100px;
    font-size: 36px;
    padding-bottom: 10px;
    margin-left: -17px;
    z-index: 2;
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* FORMS */

.c05 .wrapped-content02 {
    width: 100%;
    padding-left: 100px;
    margin-top: 167px;
}

.c05 form {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.quizForm01 {
    color: #402E31;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.quizForm02 {
    color: #A63C3C;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.c05 form .name {
    font-family: 'Lato', 'Opem Sans', 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 27px;
    color: #402E31;
    border: none;
}

.label {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 5px;
}

.input {
    font-family: 'Open Sans', 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #707070;
    margin-bottom: 27px;
}

input[type="number"],
input[type="date"],
input[type="text"],
input[type="email"],
select,
textarea {
    border: none;
    border-bottom: 1px solid;
    border-bottom-color: #707070;
    padding: 5px;
    background-color: #F2F2F2;
    border-radius: 5px 5px 0px 0px;
    text-transform: capitalize;
}

.c05 form input[type="number"]::-webkit-inner-spin-button,
.c05 form input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.c05 form input[type=number] {
    -moz-appearance: textfield;
}

.c05 form input[type=date]::-webkit-clear-button,
.c05 form input[type=date]::-webkit-inner-spin-button,
.c05 form input[type=date]::-webkit-outer-spin-button,
.c05 form input[type=date]::-webkit-calendar-picker-indicator {
    display: none;
}

.c05 form textarea {
    height: 40px;
    max-width: 100%;
    min-width: 100%;
    max-height: 500px;
    min-height: 30px;
}

.c05 form select {
    width: 200px;
}

.c05 form #weight,
.c05 form #age,
.c05 form #height {
    width: 100px;
}

.c05 form #birth {
    width: 150px;
}

.c05 form #phone {
    width: 180px;
}

.c05 form #ocupation {
    width: 250px;
    text-transform: capitalize;
}

.c05 form #q_02_01,
.c05 form #q_03_01,
.c05 form #q_04_01,
.c05 form #q_04_02,
.c05 form #q_05_01,
.c05 form #q_011_01,
.c05 form #q_012_01,
.c05 form #q_012_02,
.c05 form #q_012_03,
.c05 form #q_013_01,
.c05 form #q_013_02,
.c05 form #q_014_01 {
    width: 300px;
}

.c05 form #q_06_01 {
    width: 400px;
}

.c05 form #q_08,
.c05 form #q_09,
.c05 form #q_010 {
    width: 500px;
}

.c05 form #q_07 {
    height: 60px;
}

.hiddenOpt {
    opacity: 0;
    width: 0px;
    height: 0px;
}

.showOpt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 1;
    width: auto;
    height: auto;
}

.optional {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.completed {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #4F8A10;
    background-color: #DFF2BF;
    padding: 10px;
    border-radius: 5px;
}

.completedBtn {
    color: #FFFFFF;
    background-color: #4F8A10;
}

/* CUSTOM RADIO AND CHECKBOX BUTTONS */

.radioOptions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.checkOptions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.radioOptions .lblContainer {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-left: 20px;
    margin-top: 6px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.radioOptions .lblContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.radio {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.r01 {
    border: 3px solid #402E31;
}

.r02 {
    border: 3px solid #A63C3C;
}

.radioOptions .lblContainer:hover input ~ .radio {
    -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.7);
}

.radioOptions .lblContainer:hover input ~ .checkmark {
    -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.7);
}

.radioOptions .lblContainer input:checked ~ .r01 {
    background-color: #402E31;
}

.radioOptions .lblContainer input:checked ~ .r02 {
    background-color: #A63C3C;
}

.c05 form .btn06 {
    margin-top: 160px;
    margin-bottom: 50px;
    color: #FFFFFF;
    width: 215px;
    -ms-flex-item-align: center;
    align-self: center;
}

.c05 form .b06-01 {
    background-color: #402E31;
}

.c05 form .b06-02 {
    background-color: #A63C3C;
}

.success {
    margin-bottom: -70px;
    width: 100%;
    color: #4F8A10;
    background-color: #DFF2BF;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

/* GENERAL BUTTON STYLE */

.roundBtn {
    font-size: 20px;
    font-weight: 300;
    padding: 6px 29px 10px 29px;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

/* GENERAL BOX SHADOW */

.shadow {
    -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.7);
}

/* SPECIFIC BUTTON COLORS */

.btn01,
.btn03 {
    color: #402E31;
    background-color: #FFFFFF;
}

.btn02,
.btn04 {
    color: #A63C3C;
    background-color: #FFFFFF;
}

/* GENERAL HOVERS (OPACITY) */

.roundBtn:hover,
header a:hover,
footer a:hover,
.controls:hover {
    opacity: 0.8;
}

/* FOOTER */

footer {
    width: 86%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: absolute;
    color: #FFFFFF;
    margin: -50px 0px 0px 100px;
    z-index: 2;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#btn08 {
    font-size: 16px;
    height: 30px;
    padding: 0px 20px;
    background-color: #707070;
    color: #FFFFFF;
}

footer a {
    color: #FFFFFF;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

/* ANIMATIONS */

@-webkit-keyframes cOpacity {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes cOpacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0);
        transform: scale(0)
    }

    to {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        -webkit-transform: scale(0);
        transform: scale(0)
    }

    to {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}
