@media screen and (max-width: 425px) {
  body {
      padding: 10px;
  }
  
    #logo {
    width: 100px;
  }

  #back {
      font-size: 38px;
  }

  .picProfile {
    width: 200px;
    height: 200px;
  }

  .profile h1 {
    font-size: 24px;
    text-align: center;
  }

  .contactClient {
      width: 150px;
      font-size: 38px;
      margin: 20px 0 20px 0;
  }

  #h01,
  #h02,
  #h03,
  #h04 {
    font-size: 16px;
  }

  .question {
      font-size: 14px;
      font-weight: 100;
  }

  p {
      font-size: 16px;
  }
}
