css/fonts/*
ps/*
svg/*
Xd/*
private/*.*
private2/*.*
php/test.php
cuervo.mx.xd
CUESTIONARIO-CLINICO-CUERVO.docx
img/car1.png
img/car2.png
img/car3.png
img/CUERVO-BLACK-NOBG.png
img/FULL-CUERVO-BLACK-NOBG-BIG.png
img/cuervo-logo-min.png
img/CUERVO-WHITE-NOBG.png 
img/des1.png 
img/des2.png 
img/IMG_3257.JPG
img/IMG_3355.JPG
img/IMG_3386.JPG
img/IMG_3477.JPG
img/NOV-CUERVO-BLACK-NOBG.png
img/Rober\ 1.jpg
img/V-BLACK-NOBG.png 
img/V-WHITE-NOBG.png 
debug.log
img/bady-qb-chrXKN7J8ic-unsplash.jpg
img/hipcravo-DC5akQJyH4I-unsplash.jpg
img/jesper-aggergaard-CEM52sAHR80-unsplash.jpg
img/steven-van-loy-oUhSla4L_98-unsplash.jpg
img/tyler-nix-Y1drF0Y3Oe0-unsplash.jpg
~$ESTIONARIO-CLINICO-CUERVO.docx
.vscode/*
*.sql
img/users/*
docs/*.*